{% comment %}
Every product-type collections added here needs to be removed from index.liquid's collection
!! Remember to remove navigation items from collections !!
Collections that are ignored:
t-shirt, longsleeves, headgears
{% endcomment %}

<div class="fixed-navigation-wrapper">
  <a href="/"><div class="nav-icons nav-home-icon">
    <span class="nav-labels">HOME</span>
  </div></a>
  <a href="/collections/t-shirt"><div class="nav-icons nav-t-shirt-icon">
    <span class="nav-labels">T&#8209;SHIRT</span>
  </div></a>
  <a href="/collections/longsleeves"><div class="nav-icons nav-longsleeves-icon">
    <span class="nav-labels">LONGSLEEVES</span>
  </div></a>
  <a href="/collections/headgears"><div class="nav-icons nav-headgears-icon">
    <span class="nav-labels">HEADGEARS</span>
  </div></a>
  <a href="/"><div class="nav-icons nav-about-icon">
    <span class="nav-labels">ABOUT</span>
  </div></a>
  <a href="/"><div class="nav-icons nav-purchase-icon">
    <span class="nav-labels">PURCHASE</span>
  </div></a>
  <a href="/pages/about-us"><div class="nav-icons nav-faq-icon">
    <span class="nav-labels">FAQ</span>
  </div></a>
  <a href="/pages/contact-uz"><div class="nav-icons nav-contact-icon">
    <span class="nav-labels">CONTACT</span>
  </div></a>
</div>
