<ul id="MobileNav" class="mobile-nav large--hide">

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/" class="mobile-nav">HOME</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/collections/types?q=T-SHIRTS" class="mobile-nav">T&#8209;SHIRT</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/collections/types?q=LONGSLEEVES" class="mobile-nav">LONGSLEEVES</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/collections/types?q=BOTTOMS" class="mobile-nav">BOTTOMS</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/collections/types?q=FOOTWEAR" class="mobile-nav">FOOTWEAR</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/collections/types?q=HEADWEARS" class="mobile-nav">HEADWEARS</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/pages/about" class="mobile-nav">ABOUT</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/cart" class="mobile-nav">PURCHASE</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/pages/faq" class="mobile-nav">FAQ</a>
  </li>

  <li class="mobile-nav__link" aria-haspopup="true">
      <a href="/pages/contact" class="mobile-nav">CONTACT</a>
  </li>


  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="mobile-nav__link">
        <a href="/account">{{ 'layout.customer.account' | t }}</a>
      </li>
      <li class="mobile-nav__link">
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </li>
    {% else %}
      <li class="mobile-nav__link">
        {{ 'layout.customer.log_in' | t | customer_login_link }}
      </li>
      {% if shop.customer_accounts_optional %}
        <li class="mobile-nav__link">
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    {% endif %}
  {% endif %}

  <li class="mobile-nav__link">
    {% if settings.header_search_enable %}
      <div class="header-bar__module header-bar__search">
        {% include 'search-bar' with 'header' %}
      </div>
    {% endif %}
  </li>

</ul>
