$nav-color: #FFF;
$nav-color-hover: #CC9C56;
// lightbox
$lightbox-button-color: #B5B4B4;
// product
$product-add-cart-button-border-pixel: 3px;

// theme.liquid

body {
  background-image: url("localism-bg-8.png");
  background-size: cover;
  min-height: 100vh;
}


.fixed-top-wrapper {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;


  #top-frontpage-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("final-bg.png");
    background-size: cover;
  }

  #top-frontpage-logo {
    position: absolute;
    top: 50px;
    left: 40px;
  }

}

.cart-page-link {
  font-size: 1.2em;
  line-height: 0px;
}

.header-bar.offset-top-indexpage-image {
  margin-top: 100vh;
}

.site-header, .header-bar, .site-footer {
  background-color: transparent;
}

// custom-navigator-wrapper.liquid

.fixed-navigation-wrapper {

  position: fixed;
  width: 180px;
  top: 45vh;
  left: 40px;
  color: $nav-color;
  z-index: 1;

  a {

    &:visited, &:link {
      color: $nav-color;
    }

    &:hover {
      color: $nav-color-hover;
    }

    .nav-icons {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px;
      padding-left: 50px;
    }

    .nav-home-icon {
      background: url('icon-sprite.png') 0 0 no-repeat;
    }

    .nav-t-shirt-icon {
      background: url('icon-sprite.png') 0 -40px no-repeat;
    }

    .nav-longsleeves-icon {
      background: url('icon-sprite.png') 0 -90px no-repeat;
    }

    .nav-headgears-icon {
      background: url('icon-sprite.png') 1px -142px no-repeat;
    }

    .nav-about-icon {
      background: url('icon-sprite.png') 3px -196px no-repeat;
    }

    .nav-purchase-icon {
      background: url('icon-sprite.png') 1px -250px no-repeat;
    }

    .nav-faq-icon {
      background: url('icon-sprite.png') 7px -302px no-repeat;
    }

    .nav-contact-icon {
      background: url('icon-sprite.png') 0 -352px no-repeat;
    }
  }

}

// collection.liquid

.section-header.section-header--breadcrumb {

  margin: 0;

  .breadcrumb {
    font-size: 1.1em;
  }

}

.contact-page-content {
  color: white;
}


// assets.theme.js.liquid

.mfp-chevron {
  color: $lightbox-button-color;
}

button.mfp-close {
  color: $lightbox-button-color;
}

// product.liquid
.product-single__hero {

  h1 {
    border-bottom: 3px solid;
    padding-bottom: 20px;
  }

  .product-single__price {
    color: inherit;
    font-size: 32px;
  }

  button {
    font-weight: bold;
    padding: 12px 10px;
    border: $product-add-cart-button-border-pixel solid;
    border-radius: 0;
    background-color: transparent;

    &:hover {
      border: $product-add-cart-button-border-pixel solid #CCC;
      background: #EEE;
      background: rgba(#EEE, 0.8);
    }

  }

}

.custom-divider-div {
  width: 60%;
  height: 10px;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 20px;
}

.cart__row {
  a {
    color: white;
  }
}

.social-icons li .icon {
  &.icon-twitter {
    color: #55ACEE;
  }
  &.icon-facebook {
    color: #3b5998;
  }
  &.icon-instagram {
    color: #9E6F4F;
  }
}

#ProductThumbs .item{
  margin: 3px;
}
#ProductThumbs .item img{
  display: block;
  width: 100%;
  height: auto;
}
