<div class="grid">
  <div class="grid__item large--one-half text-center">
    {{ 'localism-badge.png' | asset_url | img_tag }}
  </div>
  <div class="grid__item large--one-half text-center">

    <div class="rte">
      <span class="contact-page-content">{{ page.content }}
    </div>

  </div>
</div>
